/* Orange Color : #e67e22 
    Darker Orange: #cf6d17
    ICONS: ion-ios-infinite-outline,ion-ios-stopwatch-outline,ion-ios-nutrition-outline,ion-ios-cart-outline 
    ion-ios-checkmark-empty, ion-ios-close-empty
    Quotation code: \201C */

/* ----BASIC SETUP----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: #fff;
    font-family: Lato, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: rgb(59, 59, 59);
    overflow-x: hidden;
}

/* ----REUSBALES----- */

.clearfix::after {
    content: " ";
    clear: both;
    display: block;

}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 80px 0;
}

/* -----HEADINGS----- */
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;   
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 2px; 
}

h2 {
    word-spacing: 2px; 
    font-size: 180%;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 10%;
    margin-left: 45%;
    background-color: #e67e22;
    margin-top: 30px;
    
}

h3 {
    font-size: 110%;
    margin-bottom: 20px;
}

/* PARAGRAPH  */

.long-copy {
    width: 70%;
    margin-left: 15%;
    line-height: 145%;
}

.box p {
    font-size: 90%;
}

/* ICONS  */
.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 20px;
}
.icon-small {
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    color: #e67e22;
    display: inline-block;
    width: 40px;
    text-align: center;

}

/* -----HEADER----- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resources/css/img/hero.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}



.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    display: block;
}
.logo-black {
    height: 50px;
    display: none;
    width: auto;
    float: left;
    margin-top: 5px 0;
}

/* MAIN NAVBAR  */

.main-nav {
    float: right;
    margin-top: 45px;
}

.main-nav li {
    display: inline-block;
    margin-left: 45px;
    list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    transition: all 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    padding: 7px 0;
}

.mobile-nav-icon {
    display: none;
}

/* FIXED NAVBAR  */
.fixed {
    background-color: rgba(255, 255, 255, 0.984);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px #f4f4f4;
    z-index: 9999;
}

.fixed .main-nav {
    float: right;
    margin-top: 20px;
    list-style: none;
}

.fixed .main-nav li {
    display: inline-block;
    margin-left: 45px;
}

.fixed .main-nav li a:link,
.fixed .main-nav li a:visited {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 90%;
    transition: all 0.2s;
    padding: 15px 0;
}

.fixed .main-nav li a:hover,
.fixed .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.fixed .logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    display: none;
}
.fixed .logo-black {
    height: 50px;
    display: block;
    width: auto;
    float: left;
    margin: 5px 0;
}
.fixed .mobile-nav-icon {
    display: none;
}


/* -----BUTTONS----- */
.btn:link,
.btn:visited,
input[type=submit] {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid #e67e22;
    transition: all 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22 ;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #cf6d17;
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}

/* FEATURES  */
.section-features .long-copy {
    margin-bottom: 40px;
}

/* MEALS  */
.section-meals {
    padding: 0;
}
.meal-photos {
    list-style: none;
    width: 100%;
}
.meal-photos li {
    width: 25%;
    display: block;
    float: left;
}
.images {
    width: 100%;
    background-color: #000;
    overflow: hidden;
    margin: 0;
}
.images img {
    width: 100%;
    opacity:0.7;
    transform: scale(1.15);
    transition: all 0.5s;
}
.images img:hover {
    opacity:1;
    transform: scale(1.03);
}

/* HOW IT WORKS  */
.section-works {
    background-color: #f4f4f4;
}
.steps-box:first-child {
    margin-top: 30px;
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child {
    margin-top: 60px;
    padding-left: 3%;
}
.phone {
    width: 40%;
}
.work-steps {
    margin-bottom: 40px;
}    
.work-steps:last-of-type {
    margin-bottom: 100px;
}    
.work-steps div {
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 140%;
    padding: 5px;
    color: #e67e22;
    float: left;
    margin-right: 20px;
}
.store {
    height: 50px;
    width: auto;
}

/* CITIES  */
.city-box {
    overflow: hidden;
}
.city-box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.city-box img:hover {
    transform: scale(1);
}
.city-feature {
    margin-bottom: 5px;
}
    .city-feature a {
        text-decoration: none;
        color: #e67e22;
        border-bottom: 1px solid #e67e22;
        padding-bottom: 2px;
        transition: all 0.2s;
    }
.city-feature a:hover {
    color: #555;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
}
.ion-social-twitter {
    transition: all 0.2s;
}
.ion-social-twitter:hover {
    color: #00aced;
}

/* TESTIMONIALS  */
.section-testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resources/css/img/back-customers.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}

blockquote {
    margin-top: 30px;
    font-style: italic;
    position: relative;
    line-height: 145%;
    padding: 2%;
}
blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    display: block;
    margin-top: 10px;
}
cite img {
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

/* PRICE PLANS  */
.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 0 2px 2px #ececec;
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.plan-box div:first-child {
    text-align: center;
    background-color: #fcfcfc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.plan-box div:last-child {
    text-align: center;
    padding: 30px 0;
    border: 0;
}
.plan-box div ul {
    list-style: none;
}
.plan-box div ul li {
    padding: 5px 0;
}

.plan-price {
    font-size: 300%;
    color: #cf6d17;
    font-weight: 100;
    margin-bottom: 20px;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 90%;
}

/* FORM  */
.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}

/* FOOTER  */
footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}
.footer-links{
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
}
.footer-links li {
    display: inline-block;
    margin-right: 20px;
}
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child,
.footer-links li:last-child {
    margin: 0;
}

.footer-links li a,
.social-links li a {
    color: #888;
    text-decoration: none;
    
}

.footer-links li a,
.ion-social-twitter,
.ion-social-facebook,
.ion-social-googleplus,
.ion-social-instagram {
    transition: all 0.2s;
}

.footer-links li a:hover {
    color: #ddd;
}

.ion-social-facebook:hover {
    color: #3b5998
}
.ion-social-googleplus:hover {
    color: #dd4b39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}

.social-links li a {
    font-size: 150%;
}

footer p {
    color: #888;
    text-align: center;
}